@use '../../../../../../../styles/abstracts/_colors.scss' as *;
@use '../../../../../../../styles/abstracts/_variables.scss' as *;

.depositos-ratificacion-container {
  padding: 16px;

  .toolbar {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      color: $text-primary;
      margin: 0;
    }
  }

  table {
    width: 100%;
    margin-top: 12px;
  }

  .actions {
    margin-top: 12px;
    display: flex;
    gap: 12px;
  }

  .error {
    margin-top: 12px;
    color: $error-color;
  }
}
