<div class="rrh-page">
  <div class="page-header">
    <div class="header-content">
      <div class="header-icon">
        <mat-icon>fingerprint</mat-icon>
      </div>
      <div class="header-text">
        <h1>Formatos de marcación</h1>
        <p class="subtitle">
          Definición del archivo del reloj biométrico y su mapeo campo a campo
        </p>
      </div>
    </div>
  </div>

  @if (configFormatos) {
    <app-table-basic-hijos
      [configTable]="configFormatos"
      (emiteRegistro)="onSeleccionFormato($event)"
      (emiteError)="onTableError($event)"
    >
    </app-table-basic-hijos>
  }

  @if (configDetalle) {
    <app-table-basic-hijos [configTable]="configDetalle" (emiteError)="onTableError($event)">
    </app-table-basic-hijos>
  } @else {
    <div class="aviso">
      <mat-icon>touch_app</mat-icon>
      <span>Seleccione un formato para ver y editar sus campos.</span>
    </div>
  }
</div>
