@if (field['name']) {
  <div [formGroup]="group">
    <mat-form-field class="demo-full-width margin-top" appearance="outline">
      <mat-label>{{field['label'] || ''}}</mat-label>
      <input matInput
             [matDatepicker]="picker"
             [formControlName]="field['name']"
             [placeholder]="field['label'] || ''">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint></mat-hint>
      @if (field['validations']) {
        @for (validation of field['validations']; track validation['name']) {
          @if (group.get(field['name'])?.hasError(validation['name'])) {
            <mat-error>{{validation['message'] || ''}}</mat-error>
          }
        }
      }
    </mat-form-field>
  </div>
}
