@use '../../../../../../styles/abstracts/colors' as *;
@use '../../../../../../styles/abstracts/variables' as *;
@use '../../../styles/pantalla-rrh' as *;

.rrh-page {
  @include pantalla-rrh;

  .selector-anio {
    min-width: $breakpoint-sm * 0.25;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  .panel-titulo {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
  }
}
