// Layout principal de la aplicación
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// Contenedor del router-outlet
router-outlet + * {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px; // Espacio reservado para el footer (35px de altura)
}
