@if (modo === 'campo') {
  <mat-form-field appearance="outline">
    <mat-label>{{ etiquetaCampo }}</mat-label>
    <input
      #input
      #trigger="matAutocompleteTrigger"
      matInput
      [id]="controlId"
      [matAutocomplete]="auto"
      [ngModel]="texto()"
      (ngModelChange)="onTexto($event)"
      (blur)="onBlur()"
      (focus)="trigger.openPanel()"
      (click)="trigger.openPanel()"
      [placeholder]="placeholder"
      [disabled]="disabled"
      autocomplete="off"
    />
  </mat-form-field>
} @else {
  <input
    #input
    #trigger="matAutocompleteTrigger"
    matInput
    [id]="controlId"
    class="celda-input"
    [class.invalido]="invalido"
    [matAutocomplete]="auto"
    [ngModel]="texto()"
    (ngModelChange)="onTexto($event)"
    (blur)="onBlur()"
    (focus)="trigger.openPanel()"
    (click)="trigger.openPanel()"
    [placeholder]="placeholder"
    autocomplete="off"
  />
}
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionar($event)">
  @if (etiquetaVacio) {
    <mat-option [value]="null">{{ etiquetaVacio }}</mat-option>
  }
  @for (item of filtradas(); track item) {
    <mat-option [value]="item">{{ etiqueta(item) }}</mat-option>
  }
</mat-autocomplete>
